header {
  /* background: var(--highlight);
  border-bottom: 2px solid var(--secondaryhighlight); */
  -webkit-box-shadow: 0px 1px 15px 5px rgba(0,0,0,0.125); 
  box-shadow: 0px 1px 15px 5px rgba(0,0,0,0.125);
}

h2.logo {
  font-size: 20px;
  color: white;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}